<form #productoForm="ngForm" (ngSubmit)="onSubmit(productoForm)">
  <fieldset>
    <div class="form-group">
      <label for="exampleInputPassword1">Nombre</label>
      <input type="text" class="form-control"  placeholder="Nombre" name="nombre"
      #name="ngModel" [(ngModel)]="productoService.selectProducto.nombre">
      
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Precio</label>
      <input type="text" class="form-control"  placeholder="Precio" name="precio"
      #name="ngModel" [(ngModel)]="productoService.selectProducto.precio">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">stock</label>
      <input type="text" class="form-control"  placeholder="stock" name="stock"
      #name="ngModel" [(ngModel)]="productoService.selectProducto.stock">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">total</label>
      <input type="text" class="form-control" placeholder="Total" name="total"
      #name="ngModel" [(ngModel)]="productoService.selectProducto.total">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">imagen</label>
      <input type="text" class="form-control" placeholder="imagen" name="imagen"
      #name="ngModel" [(ngModel)]="productoService.selectProducto.imagen">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>